.container {
  padding: 25px;
  margin-top: -6vh;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffeeee;
}
.header {
  background-color: #ffffff;
  margin-top: -10vh;
  width: 80%;
  height: 5%;
  padding: 30px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2vh;
  position: relative;
  box-shadow: 0 4px 8px rgba(211, 211, 211, 0.8);
  z-index: 20;
}
.card {
  background-color: #fff;
  width: 80%;
  height: 68%;
  overflow-y: auto;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(211, 211, 211, 0.8);
  z-index: 20;
  scrollbar-width: none;
  position: relative;
}
.jobInfoHeader {
  text-align: left;
}
.smallBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editButton {
  border: 2px solid #ff4b5c;
  background-color: #ff4b5c;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-color: #ffffff;
}
.editButton:hover {
  opacity: 0.8;
}

.timeStatus {
  color: #777;
  font-size: 0.85em;
}
.jobTitle {
  font-size: 2em;
  font-weight: 700;
  margin-top: 2vh;
  margin-bottom: 1vh;
  /* padding: 0; */
}
.location {
  color: #ed5353;
}
.section h3 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.meta {
  display: flex;
  margin: 20px 0;
  text-align: left;
  gap: 3vw;
}

.metaItem {
  color: #595959;
  text-align: center;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.9em;
  color: #444;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skillTag {
  background-color: #ffeeee;
  color: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 21px;
  font-size: 0.9em;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 768px) {
  .button {
    display: flex;
    flex-direction:column;
    gap: 1px;
  }
  .editButton {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-color: #ffffff;
  }
}